<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Herbal With Us </title>
	<style>
	body {text-align:center;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro",
	"DejaVu Sans Condensed", Helveticam Arial, sans-serif}
	.responsive {width: 124%; max-width: 1024px;
	margin: 0 auto;}
	img{width:100% height:auto}
	</style>
</head>

<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"><span class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse" id="navbar">
		<div class="navbar-nav"><a class="nav-item nav-link" id="Beranda" href="/">Beranda</a><a class="nav-item nav-link" id="Pendeteksian" href="/Pendeteksian">Pendeteksian</a><a class="nav-item nav-link" id="Bantuan" href="/Bantuan">Bantuan</a><a class="nav-item nav-link" id="Panduan" href="/Panduan">Panduan</a><a class="nav-item nav-link" id="Panduan" href="/About">About</a></div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
		<div><p style="text-align:center; font-weight:bold;"></p><img class="responsive" src="/{{mySampleAbout}}" class="img-thumbnail" alt="" width="960" height="350" />
		</div>
		<div class="row">
		<div class="col-md-9 col-sm-12 sidebar"><h4 style='text-align:left;'><br>Nama: Arifin</br>
			<br>NIM: 535170058</br>
			<br>Fakultas: Teknologi Informasi</br>
			<br>Program Studi: Teknik Informatika</br>
			<br>Universitas: Universitas Tarumanagara</br>
			<br>Saya Mahasiswa Teknik Informatika dari Fakultas Teknologi Universitas Tarumanagara,
				saya dibimbing oleh Prof. Dr. Ir. Dyah Erny Herwindiati, M.Si dan Janson Hendryli, S.Kom., M.Kom.</br><h4>	</div>
		<div class="col-md-3 col-sm-12 content">
		<p style="text-align:Justify;"><br></br>
		<br><div><a href="http://fti.untar.ac.id/"> <img height="150" width="350" src="/{{mySampleFTI}}" class="img-thumbnail" /> </a></div>
		</br>
		</p>
		</div>
		<div class="row">
			<div class="col">
				<form action="/TentangAplikasi" method=post enctype="multipart/form-data">
			</div>
		</div> 
	</div>

		</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>