<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Herbal With Us </title>
</head>

<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"><span class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse" id="navbar">
		<div class="navbar-nav"><a class="nav-item nav-link" id="Beranda" href="/">Beranda</a><a class="nav-item nav-link" id="Pendeteksian" href="/Pendeteksian">Pendeteksian</a><a class="nav-item nav-link" id="Bantuan" href="/Bantuan">Bantuan</a><a class="nav-item nav-link" id="Panduan" href="/Panduan">Panduan</a><a class="nav-item nav-link" id="Panduan" href="/About">About</a></div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<br></br>
				<br></br>
				<h1>Welcome to My Page</h1>
				<br></br>
		</div>
		<div class="row">
		<div class="col-md-3 col-sm-12 sidebar"><p style="text-align:center; font-weight:bold;"><h4>Panduan Pendeteksian</h4></p><img height="180" width="180" src="/{{mySamplePanduan}}" class="img-thumbnail" background-image: none !important; />
			<p style="text-align:left;">
		<br>1.Klik Menu Pendeteksian</br>
		<br>2.Kemudian tekan button pilih file</br>
		<br>3.Selanjutnya mencari file yang ingin diklasifikasikan</br>
		<br>4.Setelah Oke kemudian tekan button upload</br>
		</p>
		</div>
		<div class="col-md-9 col-sm-12 content">
		<p style="text-align:Justify;"><h4>Cara Pemakaian Modul Pendeteksian</h4></p>
		<p style="text-align:Justify;">
		<br>1.Pengenalan gambar tanaman obat herbal jahe, kunyit, lengkuas serta temulawak ini hanya dapat mengenali 1 objek dalam setiap pengenalan. Selain dari tanaman 
		tesebut maka tetap diklasifikasikan sebagai salah satu dari tanaman tersebut. Gambar yang diupload diupayakan terlihat jelas agar lebih mudah dikenali</br>
		<br>2.Pengenalan gambar yang akan dikirimkan berupa objek tanaman jahe,kunyit,lengkuas dan temulawak diupayakan pengambilan gambar secara vertikal dengan latarbelakang putih atau tanpa ada objek lain</br>
		<br>3.File gambar yang dapat diupload berformat jpg,jpeg,gif, dan png dengan maksimal ukuran upload 16MB</br>
		<br>4.Pengambilan gambar dapat lebih mudah kenali apabila objek telah terpotong sejajar melintang dengan pencahayaan cukup dan masih segar.</br>
		<br>Aplikasi ini menggunakan penggabungan ciri warna Color Histogram, ciri bentuk Sobel, dan ciri tekstur Gray level co-occurrence matrix dengan metode klasifikasi support vector machine dengan kernel radial basis function</br>
		<br>Aplikasi ini memiliki performa alogritma training 85.9% dan testing 79.9%</br>
		</p>
		</div>
		<div class="row">
			<div class="col">
				<form action="/Panduan" method=post enctype="multipart/form-data">
			</div>
		</div> 
	</div>

		</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>